.nav a {
	color: black;
	font-size: 16px;
}

.title {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	color: #846e82;
	font-size: 40px;
	font-weight: bold;
}

.cards span {
	font-family: 'Times New Roman', Times, serif;
	font-weight: bold;
	font-size: 25px;
	color: #594343;
}

.footer {
	background-color: #957c92;
}

.footer span {
	font-size: 30px;
	color: #fff;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.icons-footer a {
	color: #fff;
	font-size: 25px;
}

.footer hr {
	color: #fff;
}
.footer p {
	color: #fff;
	font-size: 18px;
	text-align: center;
}


/* Phone */
@media (min-width: 320px) and (max-width: 767px) {
	.title {
		font-family: Verdana, Geneva, Tahoma, sans-serif;
		color: #684466;
		font-size: 25px;
		font-weight: bold;
	}
	.nav a {
		color: black;
		font-size: 12px;
		padding: 0px 10px;
	}
	.icon {
		width: 30px;
		height: 30px;
	}
	.footer span {
		font-size: 22px;
		color: #fff;
		font-family: Verdana, Geneva, Tahoma, sans-serif;
	}
	.footer .logo {
		display: flex;
	}
	.footer img {
		width: 35px;
		height: 35px;
	}
	.icons-footer a {
		color: #fff;
		font-size: 17px;
	}
	.footer p {
		color: #fff;
		font-size: 13px;
		text-align: center;
	}
}



/* Tablet */
@media (min-width: 767px) and (max-width: 992px) {
	.title {
		font-family: Verdana, Geneva, Tahoma, sans-serif;
		color: #684466;
		font-size: 30px;
		font-weight: bold;
	}
	.nav a {
		color: black;
		font-size: 15px;
		padding: 0px 10px;
	}
	.icon {
		width: 49px;
		height: 49px;
	}
	.footer span {
		font-size: 25px;
		color: #fff;
		font-family: Verdana, Geneva, Tahoma, sans-serif;
	}
	.footer .logo {
		display: flex;
	}
	.footer img {
		width: 40px;
		height: 40px;
	}
	.icons-footer a {
		color: #fff;
		font-size: 20px;
	}
	.footer p {
		color: #fff;
		font-size: 15px;
		text-align: center;
	}
}